<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="Username" value="admin"></parameter>
		<parameter name="Password" value="1234"></parameter>
		<parameter name="memberUsername" value="manzoor"></parameter>
		<parameter name="amount" value="10000"></parameter>
		<parameter name="description" value="System"></parameter>
		<classes>
			<class name="com.cyclos.tests.TestCase1Tests" />
			<class name="com.cyclos.tests.TestCase2Tests" />
			
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
